jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: rokroskar/workflow-run-cleanup-action@v0.3.3
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
          ref: ${{ github.event.pull_request.head.repo.full_name == github.repository &&
            github.event.pull_request.head.ref || '' }}
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: git config --global user.email "actions@github.com"
      - run: git config --global user.name "GitHub Actions"
      - run: yarn --frozen-lockfile
      - env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn test
      - if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: Image Snapshot Diffs
          path: "**/__image_snapshots__/__diff_output__"
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - run: yarn checkUnknownFiles
      - env:
          GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Push changed files
        run: yarn dw-ci push-changed-files
      - if: github.ref == 'refs/heads/master'
        run: yarn prepublishOnly
      - if: github.ref == 'refs/heads/master'
        run: yarn prepublishOnly firefox
      - if: github.ref == 'refs/heads/master'
        run: zip -r ../chrome.zip .
        working-directory: dist/chrome
      - if: github.ref == 'refs/heads/master'
        run: zip -r ../firefox.zip .
        working-directory: dist/firefox
      - if: github.ref == 'refs/heads/master'
        run: git archive --output=dist/firefox-sources.zip HEAD
      - env:
          CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
          CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
          CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}
          CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
          FIREFOX_EXTENSION_ID: ${{ secrets.FIREFOX_EXTENSION_ID }}
          FIREFOX_JWT_ISSUER: ${{ secrets.FIREFOX_JWT_ISSUER }}
          FIREFOX_JWT_SECRET: ${{ secrets.FIREFOX_JWT_SECRET }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.ref == 'refs/heads/master'
        name: Release
        run: yarn semantic-release
name: build
on:
  pull_request: {}
  push:
    branches:
      - master
